{
  "env": {
    "jest/globals": true
  },
  "extends": ["airbnb-base", "plugin:jest/recommended", "plugin:jest/style", "plugin:prettier/recommended"],
  "plugins": ["jest"],
  "rules": {
    "class-methods-use-this": "off"
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
